.stage {
  height: 80vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.map {
  height: 100%;
  width: 100%;
}
.map-wrapper {
  flex: 3;
  position: relative;
  font-family: 'Founders Grotesk', sans-serif;
}
.map-tabs {
  display: flex;
  margin-top: 2em;
}
.map-tab {
  flex: 1;
  border: 1px solid black;
  border-left: none;
  border-bottom: none;
  padding: 0.25em 0.5em 0 0.5em;
  text-align: center;
  cursor: pointer;
  opacity: 0.5;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.5;
  font-family: 'Founders Grotesk', sans-serif;
  text-transform: capitalize;
}
.map-tab:last-child {
  border-right: none;
}
.map-tab.selected,
.map-tab:hover {
  opacity: 1;
  background: #202020;
  color: #fff;
}
.map-tab-pane {
  border-top: 1px solid #202020;
  margin-top: -1px;
}

.map-tooltip {
  color: #111;
  position: absolute;
  padding: 0.5em 0.5em 0.25em 0.5em;
  font-size: 0.8em;
  background: #fafafa;
  display: none;
  z-index: 100;
  min-width: 60px;
  border: 1px solid #111;
  border-radius: 2px;
  user-select: none;
}
.map-tooltip h5 {
  margin: 0;
}
.map-tooltip .tip-school-info {
  margin: 0.25em 0;
  font-size: 0.9em;
}
.map-tooltip .tip-school-info em {
  font-style: normal;
  text-decoration: underline;
}

.map-notification {
  position: absolute;
  background: rgba(0,0,0,0.8);
  padding: 1em;
  text-align: center;
  color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  flex: 2;
  color: #fff;
  background: #202020;
  height: 100%;
  overflow-y: scroll;
  overscroll-behavior: contain;
}
.info-body {
  padding: 0 12px 1em;
}
.info h2 {
  padding: 12px 12px 6px 12px;
  line-height: 1;
  font-weight: normal;
  background: #AD80FF;
  text-transform: capitalize;
  position: sticky;
  top: 0;
  color: #202020;
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 2px solid #6945a9;

  display: flex;
  justify-content: space-between;
}
.info h2:first-child {
  margin-top: 0;
}
.info h3 {
  border-top: 1px solid #F4DA1A;
  margin-top: 0.5em;
  padding-top: 1em;
  font-size: 1.3em;
  margin-bottom: 0;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.info h3:first-of-type {
  border-top: none;
}
.info h4 {
  margin: 1em 0 0.5em 0;
  font-weight: bold;
  border-bottom: 1px solid #555;
  line-height: 1;
}
.info h4 .info-table-group-year {
  font-weight: normal;
  margin-right: 0.1em;
}
.info-table-group {
  margin: 1em 0 2em;
}
.info table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}
.info table:first-child td:first-child {
  font-weight: bold;
}
.info .toggle-open {
  font-size: 1.3em;
  line-height: 1.2;
}
.info td:first-child {
  text-align: left;
  vertical-align: bottom;
}
.info thead {
  text-align: right;
  color: #ffeb5a;
}
.info table td:first-child {
  max-width: 300px;
  color: #d5d5d5;
}
.info td {
  text-align: right;
}
.info .bad {
  color: #ff3a3a;
}
.info .good {
  color: #3DAF63;
}
.info .na {
  color: #555;
}
.info .footnotes {
  list-style-type: none;
  padding: 0;
  margin: 1em 0 0 0;
  font-size: 0.85em;
  color: #999;
}

.info-school-summary .inline-selector span {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 0;
  margin-right: 0.5em;
  word-break: break-all;
}
.info-school-summary .inline-selector .selected {
  color: #FFEB5A;
}
.info-school-summary table {
  margin-top: 0.5em;
}

.legend {
  position: absolute;
  bottom: 2em;
  left: 1em;
  color: #fff;
  z-index: 1;
  text-align: right;
  font-family: 'Founders Grotesk', sans-serif;
  background: rgba(0,0,0,0.8);
  padding: 0.5em 0.5em 0.2em 0.5em;
  border-radius: 2px;
}
.legend--bivariate-wrapper {
  transform: rotate(-45deg);
  bottom: 4em;
  right: calc(100% - 14em);
  display: block;
}
.legend--title {
  text-align: left;
  padding-left: 15px;
  font-size: 0.75em;
  font-weight: bold;
}
.legend--range {
  display: flex;
}
.legend--bivariate-label {
  position: absolute;
  text-align: center;
  font-size: 10px;
  padding: 0 1.2em;
  top: 100%;
  right: 0;
  left: 0;
  color: rgba(255,255,255,1);
  font-weight: bold;
}
.legend--bivariate-label-a {
  top: 0;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.legend--bivariate-container {
  display: flex;
}
.legend--bar {
  height: 120px;
  width: 12px;
  position: relative;
  border: 1px solid black;
}
.legend--bar-bin {
  position: absolute;
  width: 100%;
  height: 30px; /* four bins */
  border-bottom: 1px solid black;
}
.legend--labels {
  margin-left: 0.25em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.8em;
  text-align: left;
}
.legend--labels_x {
  text-align: left;
  transform: rotate(90deg);
  height: 100%;
  margin-bottom: -2em;
  padding-left: 0.25em;
  margin-right: 0;
}
.legend--bivariate .legend--labels {
  text-align: right;
  margin-left: 0;
  margin-right: 0.25em;
}
.legend--bivariate .legend--labels_x {
  text-align: left;
  margin-right: 0;
}
.legend--cell {
  width: 16px;
  height: 16px;
  cursor: help;
}
.legend--grid {
  display: flex;
  position: relative;
  border: 1px solid #000;
}
.legend--grid-container {
  position: relative;
}
.legend--bivariate .legend--special {
  margin-top: 2.5em;
}

.focus-point {
  background: #05A1FF;
  position: absolute;
}
.stat-point {
  background: #5D5DB6;
  position: absolute;
}

.focus-point.legend--bivariate-point,
.stat-point.legend--bivariate-point {
  width: 12px;
  height: 12px;
  border-radius: 100em;
}
.focus-point.legend--point,
.stat-point.legend--point {
  height: 2px;
  width: 24px;
  right: 0;
}

.legend .property-selector {
  max-width: 8em;
}
.legend .property-selector select {
  font-size: 0.75em;
}

.map-help {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 2em;
  background: rgba(0,0,0,0.8);
  color: #fff;
  border-radius: 2px;
  line-height: 1;
  padding: 0.5em 0.5em 0.25em;
}
.map-help .hotkey {
  color: #FFEB5A;
  font-weight: bold;
}

.place-schools {
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;
  font-size: 0.75em;
}
/* indent wrapped text */
.place-schools li {
  padding-left: 1em;
  text-indent: -1em;
}

.icon-legend {
  color: #fff;
  padding: 0.5em;
  background: #6945A9;
  font-family: 'Founders Grotesk', sans-serif;
  display: flex;
  justify-content: space-between;
}
.icon-legend--icons {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.icon-legend--note {
  font-size: 0.75em;
}
.icon-legend--icons > div {
  font-size: 0.75em;
}
.icon-legend--icons > div:first-child {
  margin-right: 0.75em;
}
.icon-key {
  width: 11px;
  height: 11px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  border-radius: 10em;
}
.icon-legend-key {
  display: inline-block;
  margin-right: 1em;
}

.other-places {
  font-size: 0.75em;
  color: #888;
  margin-top: 1em;
}

.no-place {
  margin: 0;
  font-size: 1.2em;
}

.school-info > div {
  font-size: 0.85em;
  color: #aaa;
  margin-left: 1em;
}

.map-regions {
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  margin-bottom: 0.25em;
  z-index: 1;
  font-family: 'Founders Grotesk', sans-serif;
}
.map-regions div {
  font-size: 0.85em;
  display: inline-block;
  background: #202020;
  color: #fff;
  padding: 0.4em 0.25em 0 0.25em;
  margin: 0.1em;
  line-height: 1.3;
  cursor: pointer;
  border-radius: 2px;
}
.map-regions div:hover {
  background: #FFEB5A;
  color: #111;
}

.legend--single {
  margin: 0.5em 0;
  font-size: 0.75em;
  display: flex;
}
.legend--single-color {
  width: 12px;
  height: 12px;
  border: 1px solid black;
}
.legend--single span {
  line-height: 1;
  margin-left: 0.3em;
}

.place-selector {
  position: absolute;
  right: 1em;
  bottom: 2em;
  background: rgba(0,0,0,0.8);
  padding: 0.5em 0.2em 0.2em;
  color: #fff;
  border-radius: 2px;
}
.place-selector label {
  display: block;
  font-size: 0.8em;
  font-family: 'Founders Grotesk', sans-serif;
  line-height: 0.5;
}

button.selected {
  background: #D0D5FF;
}
button, input, select {
  border: 1px solid #888;
  padding: 0.25em;
  border-radius: 0.2em;
  font-family: 'Founders Grotesk', sans-serif;
}
input {
  padding: 0.25em 0.25em 0 0.25em;
}
select {
  padding: 0.16em 0.16em 0 0.16em;
  width: 100%;
}
button {
  padding: 0.25em 1em 0 1em;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.inline-selector span {
  margin-left: 0.5em;
  opacity: 0.4;
  cursor: pointer;
}
.inline-selector span.selected,
.inline-selector span:hover {
  opacity: 1;
}

@media only screen and (max-width: 960px) {
  .stage {
    display: block;
    height: auto;
  }
  .info {
    height: 25vh;
  }
  .map-wrapper {
    height: 320px;
  }
  .map-regions {
    max-width: none;
    font-size: 0.9em;
    width: 100%;
    text-align: center;
    left: 0;
  }
  .map-help {
    font-size: 0.8em;
    padding: 0.5em 0.5em 0.1em;
    bottom: 0.5em;
  }
}

@media only screen and (max-width: 820px) {
  .icon-legend {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .info,
  .map-regions,
  .icon-legend,
  .legend {
    font-size: 0.8em;
  }
}
