@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400');

@font-face{
    font-family:'EB Garamond';
    src:url(../assets/fonts/EBGaramond-Regular.ttf);
    font-style:normal;
    font-weight:400
}
@font-face{
    font-family:'Founders Grotesk';
    src:url(../assets/fonts/FoundersGrotesk-Light.eot);
    src:url(../assets/fonts/FoundersGrotesk-Light.eot?#iefix) format('embedded-opentype'),url(../assets/fonts/FoundersGrotesk-Light.woff) format('woff'),url(../assets/fonts/FoundersGrotesk-Light.ttf) format('truetype'),url(../assets/fonts/FoundersGrotesk-Light.svg#dc544f9d1e4c18e86a46bd108e04a26d) format('svg');
    font-style:normal;
    font-weight:200
}
@font-face {
    font-family: 'Founders Grotesk';
    src: url(../assets/fonts/FoundersGrotesk-Semibold.eot);
    src: url(../assets/fonts/FoundersGrotesk-Semibold.eot?#iefix) format('embedded-opentype'),
        url(../assets/fonts/FoundersGrotesk-Semibold.woff2) format('woff2'),
        url(../assets/fonts/FoundersGrotesk-Semibold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
  /* font-smooth: never; */
  /* -webkit-font-smoothing : none; */
  background: #fff;
  word-break: break-word;
}

header {
  width: 100%;
  text-align: right;
  padding: 0.75em 1.5em;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 5;
  border-bottom: 1px solid #eee;
}
header nav a {
  color: #000;
  text-decoration: none;
  margin-right: 1em;
}
header div {
  flex: 1;
}
header nav a:hover {
  text-decoration: underline;
}
header img {
  vertical-align: middle;
  max-height: 24px;
}
.jfi-logo {
  opacity: 0.3;
  width: 48px;
}

footer {
  text-align: center;
  padding: 1em 0 3em 0;
}

#intro, #summary, #methodology, #download, #maptool {
  padding-top: 40px;
  margin-top: -40px;
}

p {
  font-size: 1.4em;
}

h1, h2 {
  font-weight: normal;
  font-size: 3.2em;
  font-family: 'Founders Grotesk', sans-serif;
}
h1.title {
  margin-bottom: 0 !important;
}
h2 {
  font-size: 1.8em;
}

.release-date {
  color: #888;
}

main > section:first-of-type {
  margin-top: 4em !important;
}
section.text {
  color: #000;
  padding: 1em 2em;
  max-width: 960px;
  margin: 0 auto;
}
section.text h1 {
  margin: 0.5em 0;
}
section.text:last-child {
  padding-bottom: 6em;
}
section.text p {
  text-align: justify;
}
section.text > ul {
  font-size: 1.2em;
  text-align: justify;
}
section.endnotes > ul {
  text-align: left;
}
.smallcaps {
  font-variant: small-caps;
  text-transform: lowercase;
}

.MathJax {
  overflow-x: auto;
  overflow-y: hidden;
}

@media only screen and (max-width: 960px) {
  nav {
    display: none;
  }
  header {
    position: relative;
    border-bottom: none;
  }
  section:first-of-type {
    margin-top: 0em !important;
  }
}
