@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400');

@font-face{
    font-family:'EB Garamond';
    src:url(assets/fonts/EBGaramond-Regular.ttf);
    font-style:normal;
    font-weight:400
}
@font-face{
    font-family:'Founders Grotesk';
    src:url(assets/fonts/FoundersGrotesk-Light.eot);
    src:url(assets/fonts/FoundersGrotesk-Light.eot?#iefix) format('embedded-opentype'),url(assets/fonts/FoundersGrotesk-Light.woff) format('woff'),url(assets/fonts/FoundersGrotesk-Light.ttf) format('truetype'),url(assets/fonts/FoundersGrotesk-Light.svg#dc544f9d1e4c18e86a46bd108e04a26d) format('svg');
    font-style:normal;
    font-weight:200
}
/* @font-face { */
/*     font-family: 'Founders Grotesk'; */
/*     src: url(assets/fonts/FoundersGrotesk-Bold.eot); */
/*     src: url(assets/fonts/FoundersGrotesk-Bold.eot?#iefix) format('embedded-opentype'), */
/*         url(assets/fonts/FoundersGrotesk-Bold.woff2) format('woff2'), */
/*         url(assets/fonts/FoundersGrotesk-Bold.woff) format('woff'); */
/*     font-weight: bold; */
/*     font-style: normal; */
/*     font-display: swap; */
/* } */
@font-face {
    font-family: 'Founders Grotesk';
    src: url(assets/fonts/FoundersGrotesk-Semibold.eot);
    src: url(assets/fonts/FoundersGrotesk-Semibold.eot?#iefix) format('embedded-opentype'),
        url(assets/fonts/FoundersGrotesk-Semibold.woff2) format('woff2'),
        url(assets/fonts/FoundersGrotesk-Semibold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
  /* font-smooth: never; */
  /* -webkit-font-smoothing : none; */
  background: #fff;
  word-break: break-word;
}

header {
  width: 100%;
  text-align: right;
  padding: 0.75em 1.5em;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 5;
  border-bottom: 1px solid #eee;
}
header nav a {
  color: #000;
  text-decoration: none;
  margin-right: 1em;
}
header div {
  flex: 1;
}
header nav a:hover {
  text-decoration: underline;
}
header img {
  vertical-align: middle;
  max-height: 24px;
}
.jfi-logo {
  opacity: 0.3;
  width: 48px;
}

footer {
  text-align: center;
  padding: 1em 0 3em 0;
}

#intro, #summary, #methodology, #download, #maptool {
  padding-top: 40px;
  margin-top: -40px;
}

p {
  font-size: 1.4em;
}

h1, h2 {
  font-weight: normal;
  font-size: 3.2em;
  font-family: 'Founders Grotesk', sans-serif;
}
h1.title {
  margin-bottom: 0 !important;
}
h2 {
  font-size: 1.8em;
}

.release-date {
  color: #888;
}

.stage {
  height: 80vh;
  display: flex;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #333;
  margin: 0 0 2em 0;
}

main > section:first-of-type {
  margin-top: 4em !important;
}
section.text {
  color: #000;
  padding: 1em 2em;
  max-width: 960px;
  margin: 0 auto;
}
section.text h1 {
  margin: 0.5em 0;
}
section.text:last-child {
  padding-bottom: 6em;
}
section.text p {
  text-align: justify;
}
section.text > ul {
  font-size: 1.2em;
  text-align: justify;
}
section.endnotes > ul {
  text-align: left;
}
.smallcaps {
  font-variant: small-caps;
  text-transform: lowercase;
}
.summary-charts {
  display: flex;
  justify-content: space-between;
}
.summary .summary-charts a {
  max-width: 49%;
  flex: 1;
  display: block;
}
.summary .summary-charts img {
  height: auto;
  max-width: 100%;
}
.summary-tabs {
  display: flex;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.summary-tabs > div {
  flex: 1;
  text-align: center;
  padding: 0.5em 1em;
  border: 1px solid black;
  border-bottom: none;
  border-right: none;
  cursor: pointer;
}
.summary-tabs > div:first-child {
  border-left: none;
}
.summary-tabs > div.selected,
.summary-tabs > div:hover {
  background: #D0D5FF;
}
#summary-tabs--school-type {
  font-size: 0.75em;
}
.summary-tabs-label,
.summary-tabs-divider {
  width: 100%;
  padding: 0.7em 1em 0.25em 1em;
  text-align: center;
  border: 1px solid black;
  border-bottom: none;
  font-size: 1em;
  background: #f0f0f0;
  font-family: 'Founders Grotesk', sans-serif;
}
.summary-tabs-divider {
  padding: 0;
  height: 1px;
  background: #000;
}
.summary-notes {
  font-style: italic;
  font-size: 0.85em;
  margin-top: 0;
}
#summary h2 {
  margin-bottom: 0;
}

#summary table {
  min-width: 100%;
  border-collapse: collapse;
}
#summary h1 span {
  display: block;
  font-size: 0.75em;
}
.table-wrapper {
  max-width: 100%;
  max-height: 50vh;
  overflow: auto;
  margin-bottom: 2em;
  border: 1px solid black;
}
th, td {
  border: 1px solid black;
}
th, td {
  padding: 0.25em;
}
th:first-child, td:first-child {
  border-left: none;
}
th:last-child, td:last-child {
  border-right: none;
}
table tr:last-child td {
  border-bottom: none;
}
th {
  font-weight: normal;
  font-family: 'Founders Grotesk', sans-serif;
  padding-top: 0.75em;
  min-width: 7em;
  cursor: pointer;
  border-top: none;
}
th span {
  font-size: 0.8em;
  display: block;
}
th:hover {
  background: #E2E0E6;
}

.map {
  height: 100%;
  width: 100%;
}
.map-wrapper {
  flex: 3;
  position: relative;
}
.map-tab-pane {
  display: none;
}
.map-tab-pane.active {
  display: block;
}
.map-tabs {
  display: flex;
  margin-top: 2em;
}
.map-tab {
  flex: 1;
  border: 1px solid black;
  border-bottom: none;
  padding: 0.25em 0.5em 0 0.5em;
  text-align: center;
  cursor: pointer;
  opacity: 0.5;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.5;
  font-family: 'Founders Grotesk', sans-serif;
}
.map-tab:first-child {
  border-right: none;
}
.map-tab.selected,
.map-tab:hover {
  opacity: 1;
  background: #D5D5D5;
}

.map-tooltip {
  color: #fff;
  position: absolute;
  padding: 0.5em;
  font-size: 0.8em;
  background: #000;
  display: none;
  z-index: 100;
}

.map-notification {
  position: absolute;
  background: rgba(0,0,0,0.8);
  padding: 1em;
  text-align: center;
  color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.info {
  flex: 1;
  color: #fff;
  background: #333333;
  padding: 1em;
  height: 100%;
  overflow-y: scroll;
}
.info h2 {
  margin: 1em 0 0.5em 0;
  font-weight: normal;
  border-bottom: 2px solid #5D5DB6;
  text-transform: capitalize;
}
.info h2:first-child {
  margin-top: 0;
}
.info h3 {
  color: #43CC70;
  margin: 0.5em 0 0 0;
  font-size: 0.75em;
  text-transform: uppercase;
}
.info h3:first-child {
  margin-top: 0;
}
.info em {
  color: #888;
}
.info p {
  font-size: 1.2em;
}
.variable-name {
  color: #33C377;
}

/* Hiding for now */
.control-properties {
  display: none;
}

.control {
  z-index: 1;
  padding: 0.5em;
  display: flex;
  background: #d5d5d5;
  border-top: 1px solid #000;
  justify-content: right;
}
.control > div {
  margin-right: 1em;
}
.control > div:first-child {
  flex: 1;
}
.control > div:first-child input {
  width: 100%;
}
.control > div:last-child {
  margin-right: 0;
}
.control-group {
  display: flex;
}
.control-group > * {
  align-self: flex-end;
  margin-right: 0.25em;
}
#cd--control {
  justify-content: center;
}
#cd--control > div:first-child {
  flex: initial;
}

#toggleZCTAs {
  width: 11em;
}

.legend {
  position: absolute;
  bottom: 2em;
  left: 1em;
  color: #fff;
  z-index: 1;
  text-align: right;
  font-family: 'Founders Grotesk', sans-serif;
  background: rgba(0,0,0,0.8);
  padding: 0.5em 0.5em 0.2em 0.5em;
}
.legend--bivariate-wrapper {
  transform: rotate(-45deg);
  bottom: 4em;
  right: calc(100% - 14em);
  display: block;
}
.legend--title {
  text-align: left;
  padding-left: 15px;
  font-size: 0.75em;
}
.legend--range {
  display: flex;
}
.legend--bivariate-label {
  position: absolute;
  text-align: center;
  font-size: 10px;
  padding: 0 1.2em;
  top: 100%;
  right: 0;
  left: 0;
  color: rgba(255,255,255,1);
  font-weight: bold;
}
.legend--bivariate-label-a {
  top: 0;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.legend--bivariate-container {
  display: flex;
}
.legend--bar {
  height: 120px;
  width: 12px;
  position: relative;
  border: 1px solid black;
}
.legend--bar-bin {
  position: absolute;
  width: 100%;
  height: 30px; /* four bins */
  border-bottom: 1px solid black;
}
.legend--labels {
  margin-left: 0.25em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.8em;
  text-align: left;
}
.legend--labels_x {
  text-align: left;
  transform: rotate(90deg);
  height: 100%;
  margin-bottom: -2em;
  padding-left: 0.25em;
  margin-right: 0;
}
.legend--bivariate .legend--labels {
  text-align: right;
  margin-left: 0;
  margin-right: 0.25em;
}
.legend--bivariate .legend--labels_x {
  text-align: left;
  margin-right: 0;
}
.legend--cell {
  width: 16px;
  height: 16px;
  cursor: help;
}
.legend--grid {
  display: flex;
  position: relative;
  border: 1px solid #000;
}
.legend--grid-container {
  position: relative;
}
.legend--bivariate .legend--special {
  margin-top: 2.5em;
}

.focus-point {
  background: #05A1FF;
  position: absolute;
}
.stat-point {
  background: #5D5DB6;
  position: absolute;
}

.focus-point.legend--bivariate-point,
.stat-point.legend--bivariate-point {
  width: 12px;
  height: 12px;
  border-radius: 100em;
}
.focus-point.legend--point,
.stat-point.legend--point {
  height: 2px;
  width: 24px;
  right: 0;
}

.place-schools {
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;
  font-size: 0.75em;
}
/* indent wrapped text */
.place-schools li {
  padding-left: 1em;
  text-indent: -1em;
}

.icon-legend {
  color: #fff;
  padding: 0.5em;
  background: #5d5db6;
  position: absolute;
  top: 0.4em;
  right: 0.5em;
  z-index: 1;
  font-family: 'Founders Grotesk', sans-serif;
}
.icon-legend--icons {
  display: flex;
}
.icon-legend--note {
  margin-top: 0.5em;
  line-height: 0.5;
  font-size: 0.75em;
}
.icon-legend--icons > div {
  flex: 1;
  font-size: 0.75em;
}
.icon-legend--icons > div:first-child {
  margin-right: 0.75em;
}
.icon-key {
  width: 11px;
  height: 11px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  border-radius: 10em;
}
.icon-legend-show {
  background: #5d5db6;
  padding: 0.25em 0.5em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0.4em;
  right: 0.5em;
  font-size: 1.25em;
  border-radius: 0.1em;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  z-index: 1;
}
.icon-legend-close {
  font-weight: bold;
  position: absolute;
  right: 0.25em;
  top: 0.1em;
  cursor: pointer;
  display: none;
  font-size: 1em !important;
}

.other-places {
  font-size: 0.75em;
  color: #888;
  margin-top: 1em;
}

.no-place {
  margin: 0;
  font-size: 1.2em;
}

.school-info > div {
  font-size: 0.85em;
  color: #aaa;
  margin-left: 1em;
}

.map-regions {
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  margin-bottom: 0.25em;
  max-width: 540px;
  z-index: 1;
  font-family: 'Founders Grotesk', sans-serif;
}
.map-regions div {
  font-size: 0.85em;
  display: inline-block;
  background: #333;
  color: #fff;
  padding: 0.25em 0.25em 0 0.25em;
  margin: 0.1em;
  line-height: 1.5;
  cursor: pointer;
}

.legend--single {
  margin: 0.5em 0;
  font-size: 0.75em;
  display: flex;
}
.legend--single-color {
  width: 12px;
  height: 12px;
  border: 1px solid black;
}
.legend--single span {
  line-height: 1;
  margin-left: 0.3em;
}

button.selected {
  background: #D0D5FF;
}
button, input, select {
  border: 1px solid #888;
  padding: 0.25em;
  border-radius: 0.2em;
  font-family: 'Founders Grotesk', sans-serif;
}
input {
  padding: 0.25em 0.25em 0 0.25em;
}
select {
  padding: 0.16em 0.16em 0 0.16em;
  width: 100%;
}
button {
  padding: 0.25em 1em 0 1em;
}
.control-label {
  display: block;
  font-size: 0.9em;
  font-family: 'Founders Grotesk', sans-serif;
  font-weight: 600;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}

#number-lines {
  margin: 4em 0;
}
.number-line {
  margin: 1em 0;
}
.number-line--focused {
  background: #FFCC00 !important;
  z-index: 9;
}
.number-line--hovered {
  background: #ef1717 !important;
  border: 2px solid #820a0a !important;
  z-index: 9;
}
#number-line-type-select {
  display: flex;
  justify-content: space-between;
}
#number-line-type-select button {
  flex-basis: 19%;
}
.number-line--point[data-key="National"] {
  background: #10CD36 !important;
  z-index: 8;
}
#number-line-group-select {
  padding-right: 0.5em;
  margin-right: 0.5em;
  border-right: 2px solid #777;
}
#number-line-group-select button {
  display: block;
  width: 100%;
}
#number-line-group-select button:first-child {
  margin-bottom: 0.3em;
}
#number-lines h2 {
  margin-bottom: 0;
}
.number-lines-controls {
  display: flex;
}
.number-lines-controls > div:last-child {
  flex: 1;
}
.details {
  font-size: 0.85em;
  margin: 0 0 1.5em 0;
}

.map-only {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.map-only .control {
  margin-top: 0;
  border-top: none;
}
.map-only .stage {
  flex: 1;
  margin-bottom: 0;
  height: auto;
}
.map-only .info {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.map-only .info::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  background-color: transparent;
}
.map-only .info::-webkit-scrollbar {
  width: 3px !important;
  background-color: transparent;
}
.map-only .info::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.MathJax {
  overflow-x: auto;
  overflow-y: hidden;
}

.viz-gallery a {
  width: 24%;
  border: 1px solid #ddd;
  padding: 0.5em;
  margin-bottom: 0.75em;
  display: inline-block;
  vertical-align: top;
}
.viz-gallery img {
  max-width: 100%;
}


@media only screen and (max-width: 1080px) {
  .icon-legend {
    display: none;
  }
  .icon-legend-close {
    display: block;
  }
}

@media only screen and (max-width: 960px) {
  .stage {
    display: block;
  }
  .info {
    height: 25vh;
  }
  .map-wrapper {
    height: 320px;
  }
  .map-regions {
    right: 3.25em;
    max-width: none;
  }
  .control {
    padding-right: 0;
  }
  .control > div:last-child {
    margin-right: 0.5em;
  }
  nav {
    display: none;
  }
  header {
    position: relative;
    border-bottom: none;
  }
  section:first-of-type {
    margin-top: 0em !important;
  }
}

@media only screen and (max-width: 820px) {
  .control {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .control > div {
    flex-basis: auto !important;
    margin-bottom: 0.5em;
  }
  .summary-charts {
    display: block;
  }
  .summary .summary-charts a {
    max-width: 100%;
  }
  .stage {
    height: 75vh;
  }

  .viz-gallery a {
    width: 32%;
  }
}

@media only screen and (max-width: 480px) {
  #summary-tabs--school-type {
    flex-wrap: wrap;
  }
  #summary-tabs--school-type > div {
    flex-basis: 50%;
  }
  #summary-tabs--school-type > div:nth-child(odd) {
    border-left: none;
  }

  .viz-gallery a {
    width: 49%;
  }
}
