@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400');

@font-face{
    font-family:'EB Garamond';
    src:url(assets/fonts/EBGaramond-Regular.ttf);
    font-style:normal;
    font-weight:400
}
@font-face{
    font-family:'Founders Grotesk';
    src:url(assets/fonts/FoundersGrotesk-Light.eot);
    src:url(assets/fonts/FoundersGrotesk-Light.eot?#iefix) format('embedded-opentype'),url(assets/fonts/FoundersGrotesk-Light.woff) format('woff'),url(assets/fonts/FoundersGrotesk-Light.ttf) format('truetype'),url(assets/fonts/FoundersGrotesk-Light.svg#dc544f9d1e4c18e86a46bd108e04a26d) format('svg');
    font-style:normal;
    font-weight:200
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
  /* font-smooth: never; */
  /* -webkit-font-smoothing : none; */
  background: #fff;
  word-break: break-word;
}

header {
  text-align: right;
  padding: 1.5em;
}
header img {
  vertical-align: middle;
  max-width: 5em;
}
.jfi-logo {
  opacity: 0.3;
}

footer {
  text-align: center;
  padding: 1em 0 3em 0;
}

p {
  font-size: 1.4em;
}

h1, h2 {
  font-weight: normal;
  font-size: 3.2em;
  font-family: 'Founders Grotesk', sans-serif;
}
h2 {
  font-size: 1.8em;
}

#stage {
  height: 90vh;
  display: flex;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #333;
  margin: 0 0 2em 0;
}

section.text {
  color: #000;
  padding: 1em 2em;
  max-width: 960px;
  margin: 0 auto;
}
section.text h1 {
  margin: 0.5em 0;
}
section.text:last-child {
  padding-bottom: 6em;
}
section.text p {
  text-align: justify;
}
section.text > ul {
  font-size: 1.2em;
  text-align: justify;
}
section.endnotes > ul {
  text-align: left;
}
.smallcaps {
  font-variant: small-caps;
  text-transform: lowercase;
}
.summary {
  display: none;
}
.summary-charts {
  display: flex;
  justify-content: space-between;
}
.summary .summary-charts a {
  max-width: 49%;
  flex: 1;
  display: block;
}
.summary .summary-charts img {
  height: auto;
  max-width: 100%;
}

.summary table {
  min-width: 100%;
  border-collapse: collapse;
}
.table-wrapper {
  max-width: 100%;
  overflow-x: auto;
  margin-bottom: 2em;
}
table, th, td {
  border: 1px solid black;
}
th, td {
  padding: 0.25em;
}
th {
  font-weight: normal;
  font-family: 'Founders Grotesk', sans-serif;
  padding-top: 0.75em;
  min-width: 7em;
}

#map {
  height: 100%;
  width: 100%;
}
#map-wrapper {
  flex: 3;
  position: relative;
}

#map-tooltip {
  color: #fff;
  position: absolute;
  padding: 0.5em;
  font-size: 0.8em;
  background: #000;
  display: none;
  z-index: 100;
}

#info {
  flex: 1;
  color: #fff;
  background: #333333;
  padding: 1em;
  height: 100%;
  overflow-y: scroll;
}
#info h2 {
  margin: 1em 0 0.5em 0;
  font-weight: normal;
  border-bottom: 2px solid #5D5DB6;
}
#info h2:first-child {
  margin-top: 0;
}
#info h3 {
  color: #43CC70;
  margin: 0.5em 0 0 0;
  font-size: 0.75em;
  text-transform: uppercase;
}
#info h3:first-child {
  margin-top: 0;
}
#info em {
  color: #888;
}
#info p {
  font-size: 1.2em;
}

#control {
  z-index: 1;
  padding: 0.5em;
  margin-top: 2em;
  display: flex;
  background: #d5d5d5;
  border-top: 1px solid #000;
  justify-content: right;
  padding-right: 27.5%;
}
#control > div {
  margin-right: 1em;
}
#control > div:first-child {
  flex: 1;
}
#control > div:first-child input {
  width: 100%;
}
#control > div:last-child {
  margin-right: 0;
}
.control-group {
  display: flex;
}
.control-group > * {
  align-self: flex-end;
  margin-right: 0.25em;
}

#toggleZCTAs {
  width: 11em;
}

#legend {
  position: absolute;
  bottom: 2em;
  left: 1em;
  color: #fff;
  z-index: 1;
  text-align: right;
  font-family: 'Founders Grotesk', sans-serif;
}
.legend--bivariate-wrapper {
  transform: rotate(-45deg);
  bottom: 4em;
  right: calc(100% - 14em);
  display: block;
}
.legend--title {
  text-align: left;
  padding-left: 15px;
  font-size: 0.75em;
}
.legend--range {
  display: flex;
}
.legend--bivariate-label {
  position: absolute;
  text-align: center;
  font-size: 10px;
  padding: 0 1.2em;
  top: 100%;
  right: 0;
  left: 0;
  color: rgba(255,255,255,0.5);
}
.legend--bivariate-label-a {
  top: 0;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.legend--bivariate-container {
  display: flex;
}
.legend--bar {
  height: 120px;
  width: 12px;
  position: relative;
  border: 1px solid black;
}
.legend--bar-bin {
  position: absolute;
  width: 100%;
  height: 30px; /* four bins */
  border-bottom: 1px solid black;
}
.legend--labels {
  margin-left: 0.25em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.8em;
  text-align: left;
}
.legend--labels_x {
  text-align: left;
  transform: rotate(90deg);
  height: 100%;
  margin-bottom: -2em;
  padding-left: 0.25em;
  margin-right: 0;
}
.legend--bivariate .legend--labels {
  text-align: right;
  margin-left: 0;
  margin-right: 0.25em;
}
.legend--bivariate .legend--labels_x {
  text-align: left;
  margin-right: 0;
}
.legend--cell {
  width: 32px;
  height: 32px;
  cursor: help;
}
.legend--grid {
  display: flex;
  position: relative;
  border: 1px solid #000;
}
.legend--grid-container {
  position: relative;
}
.legend--bivariate .legend--special {
  margin-top: 2.5em;
}

.focus-point {
  background: #05A1FF;
  position: absolute;
}
.stat-point {
  background: #5D5DB6;
  position: absolute;
}

.focus-point.legend--bivariate-point,
.stat-point.legend--bivariate-point {
  width: 12px;
  height: 12px;
  border-radius: 100em;
}
.focus-point.legend--point,
.stat-point.legend--point {
  height: 2px;
  width: 24px;
  right: 0;
}

.zcta-schools {
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;
  font-size: 0.75em;
}
/* indent wrapped text */
.zcta-schools li {
  padding-left: 1em;
  text-indent: -1em;
}

#icon-legend {
  color: #fff;
  padding: 0.5em;
  background: #5d5db6;
  display: flex;
  position: absolute;
  top: 0.4em;
  right: 0.5em;
  z-index: 1;
  font-family: 'Founders Grotesk', sans-serif;
}
#icon-legend > div {
  flex: 1;
  font-size: 0.75em;
}
#icon-legend > div:first-child {
  margin-right: 0.75em;
}
.icon-key {
  width: 11px;
  height: 11px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  border-radius: 10em;
}
#icon-legend-show {
  background: #5d5db6;
  padding: 0.25em 0.5em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0.4em;
  right: 0.5em;
  font-size: 1.25em;
  border-radius: 0.1em;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  z-index: 1;
}
#icon-legend-close {
  font-weight: bold;
  position: absolute;
  right: 0.25em;
  top: 0.1em;
  cursor: pointer;
  display: none;
  font-size: 1em !important;
}

.other-zctas {
  font-size: 0.75em;
  color: #888;
  margin-top: 1em;
}

.no-zcta {
  margin: 0;
  font-size: 1.2em;
}

.school-info > div {
  font-size: 0.85em;
  color: #aaa;
  margin-left: 1em;
}

#map-regions {
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  margin-bottom: 0.25em;
  max-width: 540px;
  z-index: 1;
  font-family: 'Founders Grotesk', sans-serif;
}
#map-regions div {
  font-size: 0.85em;
  display: inline-block;
  background: #333;
  color: #fff;
  padding: 0.25em 0.25em 0 0.25em;
  margin: 0.1em;
  line-height: 1.5;
  cursor: pointer;
}

.legend--single {
  margin: 0.5em 0;
  font-size: 0.75em;
  display: flex;
}
.legend--single-color {
  width: 12px;
  height: 12px;
  border: 1px solid black;
}
.legend--single span {
  line-height: 1;
  margin-left: 0.3em;
}

button.selected {
  background: #D0D5FF;
}
button, input, select {
  border: 1px solid #888;
  padding: 0.25em;
  border-radius: 0.2em;
  font-family: 'Founders Grotesk', sans-serif;
}
input {
  padding: 0.25em 0.25em 0 0.25em;
}
select {
  padding: 0.16em 0.16em 0 0.16em;
}
button {
  padding: 0.25em 1em 0 1em;
}
.control-label {
  display: block;
  font-size: 0.9em;
  font-family: 'Founders Grotesk', sans-serif;
}

#number-lines {
  display: none;
}
.number-line {
  margin: 1em 0;
}
.number-line--focused {
  background: #FFCC00 !important;
  z-index: 9;
}

/* Hiding for now */
select[name="propertyA"],
select[name="propertyB"] {
  display: none;
}

.map-only {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.map-only #control {
  margin-top: 0;
  border-top: none;
}
.map-only #stage {
  flex: 1;
  margin-bottom: 0;
  height: auto;
}
.map-only #info {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.map-only #info::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  background-color: transparent;
}
.map-only #info::-webkit-scrollbar {
  width: 3px !important;
  background-color: transparent;
}
.map-only #info::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.MathJax {
  overflow-x: auto;
  overflow-y: hidden;
}

@media only screen and (max-width: 1080px) {
  #icon-legend {
    display: none;
  }
  #icon-legend-close {
    display: block;
  }
}

@media only screen and (max-width: 960px) {
  #stage {
    display: block;
  }
  #info {
    height: 25vh;
  }
  #map-wrapper {
    height: 320px;
  }
  #map-regions {
    right: 3.25em;
    max-width: none;
  }
  #control {
    padding-right: 0;
  }
  #control > div:last-child {
    margin-right: 0.5em;
  }
}

@media only screen and (max-width: 680px) {
  #control {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  #control > div {
    flex-basis: auto !important;
    margin-bottom: 0.5em;
  }
  .summary-charts {
    display: block;
  }
  .summary .summary-charts a {
    max-width: 100%;
  }
}
