@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:200|Nanum+Gothic&display=swap');

@font-face {
  font-family: FantasqueSansMono;
  src: url(FantasqueSansMono-Regular.woff);
  src: url('/assets/fonts/FantasqueSansMono-Regular.eot');
  src: url('/assets/fonts/FantasqueSansMono-Regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/FantasqueSansMono-Regular.woff') format('woff'),
       url('/assets/fonts/FantasqueSansMono-Regular.ttf') format('truetype'),
       url('/assets/fonts/FantasqueSansMono-Regular.svg#FantasqueSansMono') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: FantasqueSansMono;
  src: url(FantasqueSansMono-Bold.woff);
  src: url('/assets/fonts/FantasqueSansMono-Bold.eot');
  src: url('/assets/fonts/FantasqueSansMono-Bold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/FantasqueSansMono-Bold.woff') format('woff'),
       url('/assets/fonts/FantasqueSansMono-Bold.ttf') format('truetype'),
       url('/assets/fonts/FantasqueSansMono-Bold.svg#FantasqueSansMono') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: FantasqueSansMono;
  src: url(FantasqueSansMono-Italic.woff);
  src: url('/assets/fonts/FantasqueSansMono-Italic.eot');
  src: url('/assets/fonts/FantasqueSansMono-Italic.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/FantasqueSansMono-Italic.woff') format('woff'),
       url('/assets/fonts/FantasqueSansMono-Italic.ttf') format('truetype'),
       url('/assets/fonts/FantasqueSansMono-Italic.svg#FantasqueSansMono') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: FantasqueSansMono;
  src: url(FantasqueSansMono-BoldItalic.woff);
  src: url('/assets/fonts/FantasqueSansMono-BoldItalic.eot');
  src: url('/assets/fonts/FantasqueSansMono-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/FantasqueSansMono-BoldItalic.woff') format('woff'),
       url('/assets/fonts/FantasqueSansMono-BoldItalic.ttf') format('truetype'),
       url('/assets/fonts/FantasqueSansMono-BoldItalic.svg#FantasqueSansMono') format('svg');
  font-weight: bold;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'FantasqueSansMono', monospace;
  font-smooth: never;
  -webkit-font-smoothing : none;
  background: #000;
}

h1 {
  font-family: 'Noto Serif JP', serif;
  font-weight: normal;
  font-size: 3em;
}

p {
  font-family: 'Nanum Gothic', sans-serif;
}

#stage {
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  margin: 2em 0;
}

section.text {
  color: #fff;
  padding: 1em 2em;
  max-width: 960px;
  margin: 0 auto;
}
section.text h1 {
  margin: 0.5em 0;
}
section.text:last-child {
  padding-bottom: 6em;
}

#map-wrapper {
  flex: 3;
  position: relative;
}

#info {
  flex: 1;
  color: #fff;
  background: #101010;
  padding: 1em;
  height: 100%;
  overflow-y: scroll;
}
#info h2 {
  margin: 1em 0 0.5em 0;
  font-weight: normal;
  font-style: italic;
  border-bottom: 2px solid #f9ca74;
}
#info h2:first-child {
  margin-top: 0;
}
#info h3 {
  color: #43CC70;
  margin: 0.5em 0 0 0;
  font-size: 0.75em;
  text-transform: uppercase;
}
#info h3:first-child {
  margin-top: 0;
}

#control {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  color: #fff;
  background: #101010;
  z-index: 1;
  padding: 1em;
}

#legend {
  position: absolute;
  bottom: 2em;
  left: 1em;
  color: #fff;
  z-index: 1;
  text-align: right;
}
#legend.legend--bivariate {
  transform: rotate(-45deg);
  bottom: 4em;
  right: calc(100% - 14em);
  display: block;
}
.legend--title {
  text-align: left;
  padding-left: 15px;
  font-size: 0.75em;
}
.legend--range {
  display: flex;
}
.legend--bivariate-label {
  position: absolute;
  text-align: center;
  font-size: 10px;
  padding: 0 1.2em;
  top: 100%;
  right: 0;
  left: 0;
  color: rgba(255,255,255,0.5);
}
.legend--bivariate-label-a {
  top: 0;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.legend--bivariate-container {
  display: flex;
}
.legend--bar {
  height: 120px;
  width: 12px;
  position: relative;
}
.legend--bar-bin {
  position: absolute;
  width: 100%;
  height: 30px; /* four bins */
  border-bottom: 1px solid black;
}
.legend--labels {
  margin-left: 0.25em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.8em;
  text-align: left;
}
.legend--labels_x {
  text-align: left;
  transform: rotate(90deg);
  height: 100%;
  margin-bottom: -2em;
  padding-left: 0.25em;
  margin-right: 0;
}
.legend--bivariate .legend--labels {
  text-align: right;
  margin-left: 0;
  margin-right: 0.25em;
}
.legend--bivariate .legend--labels_x {
  text-align: left;
  margin-right: 0;
}
.legend--cell {
  width: 32px;
  height: 32px;
  cursor: help;
}
.legend--grid {
  display: flex;
  position: relative;
}
.legend--grid-container {
  position: relative;
  border: 2px solid #000;
  background: #000;
}

.focus-point {
  background: #f9ca74;
  position: absolute;
}

.focus-point.legend--bivariate-point {
  width: 12px;
  height: 12px;
  border-radius: 100em;
}
.focus-point.legend--point {
  height: 2px;
  width: 24px;
  right: 0;
}

.zcta-schools {
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;
  font-size: 0.75em;
}
/* indent wrapped text */
.zcta-schools li {
  padding-left: 1em;
  text-indent: -1em;
}

#icon-legend {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  color: #fff;
  padding: 0.5em;
  background: #5d5db6;
  display: flex;
}
#icon-legend > div {
  flex: 1;
  font-size: 0.75em;
}
#icon-legend > div:first-child {
  margin-right: 0.75em;
}
.icon-key {
  width: 11px;
  height: 11px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  border-radius: 10em;
}

/* Hiding for now */
select[name="propertyA"],
select[name="propertyB"] {
  display: none;
}
